@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: auto;
    overflow-y: hidden;
}

.container {
    margin: auto;
    border: yellow solid;
}

.title {
    text-align: center;
    height: 5vh;
    padding-top: 1.2rem;
}

.btn {
    display: flex;
    height: 10vh;
    justify-content: space-between;
}

.button {
    width: 50%;
    padding: 0 0.5rem;
}

.btn i{
    color: black;
    font-size: 2rem;
}

.btn div {
    border: blue solid;
    width: 45%;
}

button i{
    border: green solid;
}

.button:last-child a{
    float: right;
}

#displayDate {
    border: black solid;
    height: 8vh;
    text-align: center;
    padding-top: 2rem;
    font-size: 1.4rem;
}

#pieChart {
    border: orange solid;
    height: 50vh;
    padding: 2rem 5rem;
}

#spendings {
    border: orange solid;
    height: 50vh;
    padding: 2rem 5rem;
}

.totalSpending {
    border: green solid;
    height: 5vh;
    text-align: center;
    padding-top: 0.5rem;
}


@media only screen and (max-width: 600px) {

    .title {
        font-size: 13px;
    }

    .button {
        text-align: center;
    }

    .button:last-child a {
        float: none;
    }

    .button a{
        justify-content: center;
        display: inline-block
    }

    .button i {
        font-size: 1.6rem;
    }

    #displayDate {
        font-size: 1.2rem;
    }

    .totalSpending {
        font-size:  0.8rem;
    }

    .spendings {
        padding: 1rem 2rem;
    }

}